<div class='container' style='padding-top: 150px'>
  <div class='row'>
    <div class='col-md-6 offset-md-3'>  
      <h3 class='mb-3'>Edit Profile</h3>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <label for="registration-first-name" class="form-label">First Name</label>
          <div class="input-group mb-3">
            <%= f.text_field :first_name, class: 'form-control', autofocus: true %>
          </div>  
          
          <label for="registration-first-name" class="form-label">Last Name</label>
          <div class="input-group mb-3">
            <%= f.text_field :last_name, class: 'form-control' %>
          </div>

          <label for="registration-username" class="form-label">Username</label>
          <div class="input-group mb-3">
            <%= f.text_field :username, class: 'form-control' %>
          </div>

          <label for="registration-dob" class="form-label">Date of Birth</label>
          <div class="input-group mb-3">
            <%= f.date_field :date_of_birth, class: 'form-control' %>
          </div>

          <label for="registration-phone-number" class="form-label">Phone Number</label>
          <div class="input-group mb-3">
            <%= f.telephone_field :phone_number, class: 'form-control' %>
          </div>

          <label for="registration-email" class="form-label">Email</label>
          <div class="input-group mb-3">
            <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <label for="registration-password" class="form-label">Password (leave blank if you don't want to change it)</label>
            <div class="input-group mb-3">
            <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
            <% if @minimum_password_length %>
              <br />
            <% end %>
          </div>
          <em><%= @minimum_password_length %> characters minimum</em><br/>

          <label for="registration-password-confirmation" class="form-label mt-3">Password Confirmation</label>
          <div class="input-group mb-3">
            <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
          </div>

          <label for="registration-current-password" class="form-label">Current Password (we need your current password to confirm your changes)</label>
          <div class="input-group mb-3">
            <%= f.password_field :current_password, class: 'form-control', autocomplete: "current-password" %>
          </div>

          <div class="actions mb-3">
            <%= f.submit "Update", class: 'btn btn-warning' %>
          </div>
        <% end %>

        <%= button_to "Cancel my account", registration_path(resource_name), class: 'btn btn-warning', data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>

        <%= link_to "Back", :back %>
    </div>
  </div>
</div>





