<div class='container' id='edit_membership'>
  <div class='row'>
    <div class='col-md-6 offset-md-3'>
      <h3>Sign up</h3>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <label for="signup-first-name" class="form-label">First Name</label>
        <div class="input-group mb-3">
          <%= f.text_field :first_name, class: 'form-control', autofocus: true %>
        </div>  
        
        <label for="signup-last-name" class="form-label">Last Name</label>
        <div class="input-group mb-3">
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>

        <label for="signup-username" class="form-label">Username</label>
        <div class="input-group mb-3">
          <%= f.text_field :username, class: 'form-control' %>
        </div>

        <label for="signup-dob" class="form-label">Date of Birth</label>
        <div class="input-group mb-3">
          <%= f.date_field :date_of_birth, class: 'form-control' %>
        </div>

        <label for="signup-email" class="form-label">Email</label>
        <div class="input-group mb-3">
          <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
        </div>

        <label for="signup-phone-number" class="form-label">Phone Number</label>
        <div class="input-group mb-3">
          <%= f.telephone_field :phone_number, class: 'form-control' %>
        </div>

        <label for="signup-password" class="form-label">Password (6 characters minimum)</label>
        <div class="input-group mb-3">
          <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
        </div>

        <label for="signup-password-confirmation" class="form-label">Password Confirmation</label>
        <div class="input-group mb-3">
          <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: 'btn btn-warning mb-2' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    <div>
  </div>
</div>






