<div id="<%= dom_id special_offer %>">
  <p>
    <strong>Name:</strong>
    <%= special_offer.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= special_offer.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= special_offer.end_date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= special_offer.description %>
  </p>

  <p>
    <strong>Members only:</strong>
    <%= special_offer.members_only %>
  </p>

  <p>
    <strong>Offer type:</strong>
    <%= special_offer.offer_type %>
  </p>

  <p>
    <strong>Offer code:</strong>
    <%= special_offer.offer_code %>
  </p>

  <p>
    <strong>Lounge:</strong>
    <%= special_offer.lounge_id %>
  </p>

</div>
