<p>
  <strong>Name:</strong>
  <%= @current_user_lounge&.name  %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @current_user_lounge&.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @current_user_lounge&.email %>
</p>

<p>
  <strong>Email:</strong>
  <%= @current_user_lounge&.email %>
</p>

<p>
  <strong>Address Street 1:</strong>
  <%= @current_user_lounge&.address&.address_street_1 %>
</p>

<p>
  <strong>Address Street 2:</strong>
  <%= @current_user_lounge&.address&.address_street_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @current_user_lounge&.address&.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @current_user_lounge&.address&.state %>
</p>
  
<p>
  <strong>Zip Code:</strong>
  <%= @current_user_lounge&.address&.zipcode %>
</p>

<p>
  <strong>Description:</strong>
  <%= @current_user_lounge&.description %>
</p>

<p>
  <strong>Alcohol served:</strong>
  <%= @current_user_lounge&.alcohol_served %>
</p>

<p>
  <strong>Food served:</strong>
  <%= @current_user_lounge&.food_served %>
</p>

<p>
  <strong>Outside alcohol allowed:</strong>
  <%= @current_user_lounge&.outside_alcohol_allowed %>
</p>

<p>
  <strong>Outside cigars allowed:</strong>
  <%= @current_user_lounge&.outside_cigars_allowed %>
</p>
