<p>
  <strong>Name:</strong>
  <%= @current_user_lounge&.name  %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @current_user_lounge&.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @current_user_lounge&.email %>
</p>

<p>
  <strong>Email:</strong>
  <%= @current_user_lounge&.email %>
</p>

<p>
  <strong>Address Street 1:</strong>
  <%= @current_user_lounge&.address&.address_street_1 %>
</p>

<p>
  <strong>Address Street 2:</strong>
  <%= @current_user_lounge&.address&.address_street_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @current_user_lounge&.address&.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @current_user_lounge&.address&.state %>
</p>
  
<p>
  <strong>Zip Code:</strong>
  <%= @current_user_lounge&.address&.zipcode %>
</p>

<p>
  <strong>Description:</strong>
  <%= @current_user_lounge&.description %>
</p>

<p>
  <strong>Alcohol served:</strong>
  <%= @current_user_lounge&.alcohol_served %>
</p>

<p>
  <strong>Food served:</strong>
  <%= @current_user_lounge&.food_served %>
</p>

<p>
  <strong>Outside alcohol allowed:</strong>
  <%= @current_user_lounge&.outside_alcohol_allowed %>
</p>

<p>
  <strong>Outside cigars allowed:</strong>
  <%= @current_user_lounge&.outside_cigars_allowed %>
</p>

<% if user_signed_in? %>
  <div class="d-flex justify-content-around">
    <%= link_to "Edit Lounge", edit_lounge_path(@current_user.lounge), class: "btn btn-warning" %>
    <%= link_to "New Event", new_lounge_event_path(@current_user.lounge), class: "btn btn-warning" %>
    <%= link_to "View Events", lounge_events_path(@current_user.lounge), class: "btn btn-warning" %>
  </div>
  <div class="d-flex justify-content-around pt-3">
    <%= link_to "Memberships", lounge_memberships_path(@current_user.lounge), class: "btn btn-warning" %>
    <%= link_to "Special Offers", lounge_special_offers_path(@current_user.lounge), class: "btn btn-warning"%>
    <%= link_to "Delete", lounge_path(@current_user.lounge), class: "btn btn-warning", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>
<% else %>
  <div class="d-flex justify-content-between">
    <%= link_to "View Events", lounge_events_path(@current_user.lounge) %>
    <%= link_to "Special Offers", lounge_special_offers_path(@current_user.lounge)%>
  </div>
<% end %>