<div id="<%= dom_id lounge %>">
  <p>
    <strong>Name:</strong>
    <%= lounge.name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= lounge.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= lounge.email %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= lounge.description %>
  </p>

  <p>
    <strong>Alcohol served:</strong>
    <%= lounge.alcohol_served %>
  </p>

  <p>
    <strong>Food served:</strong>
    <%= lounge.food_served %>
  </p>

  <p>
    <strong>Outside alcohol allowed:</strong>
    <%= lounge.outside_alcohol_allowed %>
  </p>

  <p>
    <strong>Outside cigars allowed:</strong>
    <%= lounge.outside_cigars_allowed %>
  </p>

  <p>
    <strong>User:</strong>
    <%= lounge.user_id %>
  </p>

</div>
