<div id="<%= dom_id lounge %>">
  <p>
    <strong>Logo:</strong>
    <%= lounge.logo.present? ? image_tag(lounge&.logo) : '' %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= lounge.name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= lounge.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= lounge.email %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= lounge.email %>
  </p>

  <p>
    <strong>Address Street 1:</strong>
    <%= lounge&.address&.address_street_1 %>
  </p>

  <p>
    <strong>Address Street 2:</strong>
    <%= lounge&.address&.address_street_2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= lounge&.address&.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= lounge&.address&.state %>
  </p>
    
  <p>
    <strong>Zip Code:</strong>
    <%= lounge&.address&.zipcode %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= lounge.description %>
  </p>

  <p>
    <strong>Alcohol served:</strong>
    <%= lounge.alcohol_served %>
  </p>

  <p>
    <strong>Food served:</strong>
    <%= lounge.food_served %>
  </p>

  <p>
    <strong>Outside alcohol allowed:</strong>
    <%= lounge.outside_alcohol_allowed %>
  </p>

  <p>
    <strong>Outside cigars allowed:</strong>
    <%= lounge.outside_cigars_allowed %>
  </p>

  <%= link_to "New Event", new_lounge_event_path(lounge), class: "btn btn-warning" %>
</div>
