<div class='container' style='padding-top: 300px'>
  <div class='row'>
    <div class='col-md-6 offset-md-3'>
      <h3>Log in</h3>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <label for="login-first-name" class="form-label">First Name</label>
          <div class="input-group mb-3">
            <%= f.email_field :email, autofocus: true, class: 'form-control', autocomplete: "email" %>
          </div>

          <label for="login-password" class="form-label">Password</label>
          <div class="input-group mb-3">
            <%= f.password_field :password, class: 'form-control', autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <label for="membership-email" class="form-label">Remember me</label>
              <%= f.check_box :remember_me, class: 'form-check-input' %>
            </div>
          <% end %>

          <div class='container'>
            <div class='row'>
              <div class='col-md-6 offset-md-3'>
                <%= f.submit "Log in", class: 'btn btn-warning mb-2' %><br/>
                <%= render "devise/shared/links" %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>